* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  height: 95%;
  width: 70%;
  margin: auto;
  border: 1px solid yellow;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* header structure */
header {
  width: 100%;
  border: 1px solid black;
}
/* header top structure */
.header_top {
  width: 100%;
  border: 1px solid green;
  background-color: lightgrey;
}

.header_top .left {
  border: 1px solid red;
}

.linguages {
  border: 1px solid blue;
  display: inline-block;
}

.contact {
  border: 1px solid blue;
  display: inline-block;
}

.header_top .right {
  border: 1px solid red;
}

.header_top .search {
  display: inline-block;
}

/* /header top structure */

/* nav structure */
nav {
  width: 100%;
  border: 1px solid red;
}

nav .logo {
 width: 25%;
 border: 1px solid green;
}

nav .menu {
  border: 1px solid blue;
}

nav li {
  float: left;
}
/* /nav structure */

/* header bottom structure */
header > .bottom {
  height: 500px;
  width: 100%;
  border: 1px solid red;
}

.header_bottom .text {
  width: 40%;
  height: 180px;
  border: 1px solid black;
}
/* /header bottom structure */
/* /header structure */

/* main structure */
section {
  width: 100%;
  border: 1px solid blue;
}
/* section top structure */
.section_top .block {
  border: 1px solid red;
  width: 100%;
}

.block.central .left {
  width: 30%;
}

.block.central img {
  display: block;
}

.block.central .right {
  width: 70%;
}

.block.bottom > * {
  width: calc((100% / 3) - 20px);
}

.block.bottom .central {
  margin: 0 20px;
}

.block.central .right li {
  float: left;
}
/* /section top structure */

/* section central structure */
.section_central {
  border: 1px solid green;
}

.section_central .row {
  width: 100%;
}

.section_central .block {
  width: calc(100% / 4);
  border: 1px solid red;
}

.section.central img {
  display: block;
}
/* /section central structure */

/* section bottom structure */
.section_bottom .block.top {
  width: 100%;
  padding: 0 60px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.section_bottom .block.top img {
  width: calc(25% - 10px);
  margin-left: 10px;
}

.section_bottom .block.bottom {
  width: 100%;
  border: 1px solid black;
}

.section_bottom .block.bottom .left {
  width: 40%;
}

.section_bottom .block.bottom .right {
  width: 40%;
  height: 100px;
  border: 1px solid red;
}
/* /section bottom structure */
/* /main structure */

/* footer */
/* footer top structure */
.footer_top {
  width: 100%;
}

.footer_top .links {
  width: 25%;
  float: left;
  text-align: left;
}
/* /footer top structure */

/* /footer bottom structure */
.footer_bottom {
  width: 100%;
}

.footer_bottom ul.central {
  margin:auto;
  width: 50%;
}

.footer_bottom .central li {
  width: calc(100% / 5);
  float: left;
}

.footer_bottom .bottom {
  width: 100%;
}

.legal_links a {
  display: inline-block;
}


/* /footer */
