* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
}

body {
  background-color: #ffffff;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  height: 95%;
  width: 70%;
  margin: auto;
  position: relative;
  color: #2c3d51;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

h5 {
  font-size: 16px;
  display: inline-block;
}

p {
  line-height: 1.8;
  margin: 30px 0;
}

.button {
  border-radius: 5px;
  font-size: 14px;
  padding: 18px 40px;
  background-color: #fd7a5a;
  color: white;
  border: 1px solid #fd7a5a;
  transition: background-color 1s;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(253, 122, 90, 0.5);
  border-color: rgba(253, 122, 90, 0.5);
}

.down {
  font-size: 20px;
  vertical-align: middle;
}

/* header structure */
header {
  width: 100%;
  position: relative;
}
/* header top structure */
.blocker {
  height: 80px;
  width: 100%;
}

.header_top {
  width: 100%;
  padding: 20px 0;
  padding-bottom: 15px;
  background-color: #F5F8FA;
  border-bottom: 1.5px solid #2c3d51;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 80px;
}

.header_top .left {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.header_top .left a {
  color: #2c3d51;
  font-weight: 400;
  font-size: 15px;
}

.header_top .linguages {
  display: inline-block;
  border-right: 1.5px solid #2c3d51;
  padding-right: 10px;
}

.header.top .container {
  line-height: 40.8px;
}

.header_top .contact {
  display: inline-block;
  padding-left: 10px;
}

.header_top .right {
  vertical-align: middle;
  height: 100%;
}

.header_top .search {
  display: inline-block;
}
.header_top #search {
  color: #358ff0;
}

.header_top .button {
  margin-left: 15px;
  padding: 10px 15px;
}

.button.log_in {
  color: #fd7a5a;
  background-color: white;
  border: 1px solid #fd7a5a;
}

.header_top .log_in:hover {
  background-color: #f5f0e1;
}
/* /header top structure */

/* nav structure */
nav {
  width: 100%;
  margin-top: 80px;
}

nav .container {
  line-height: 80px;
}

nav .logo img {
  vertical-align: middle;
}

nav li {
  float: left;
  margin-left: 25px;
}

nav li i {
  margin-left: 8px;
}
/* /nav structure */

/* jumbotron structure */
.header_bottom {
  height: 600px;
  width: 100%;
  background-image: url("../img/jumbotron.png");
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FEF6EF;
}

.header_bottom .text {
  width: 50%;
  text-align: left;
}

.header_bottom .text h2 {
  font-size: 45px;
  padding-top: 50px;
}

.header_bottom .text .button {
  padding: 18px 40px;
}

.header_bottom .description {
  font-size: 12px;
  margin: 30px 0;
}

.header_bottom #space {
  height: 72px;
  width: 100%;
  background-color: #95fefe;
  border-top: 2.5px solid #2c3c53;
  border-bottom: 2.5px solid #2c3c53;
  position: absolute;
  bottom: 0;
}
/* /jumbotron structure */
/* /header structure */

/* main structure */
section {
  width: 100%;
  background-color: #F5F8FA;
}

section .description {
  font-size: 10px;
}
/* section top structure */
.section_top .block {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
}
/* first block */
.section_top .block.top {
  width: 70%;
  margin: auto;
}

.section_top .block.top img {
  width: 30%;
  object-fit: cover;
}

.section_top i {
  color: #fd7a5a;
  margin-right: 12px;
}
/* /first block */

/* second block */
.box {
  padding: 30px;
  background-color: white;
}

.transition {
  transition: box-shadow 1s;
  box-shadow: 1px 1px 4px 1px rgba(10, 10, 10, 0.05);
}

.box:hover {
  box-shadow: 2px 2px 8px 2px rgba(10, 10, 10, 0.15);
}

.section_top .block.central {
  padding: 60px 40px;
}

.section_top .block.central .left {
  width: 30%;
}

.section_top .block.central img {
  width: 60%;
}

.section_top .block.central img, .section_top .block.bottom img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.section_top .block.central .right {
  width: 60%;
  text-align: left;
}

.section_top .block.central .right p {
  width: 90%;
}

.section_top .block.central .right h5 {
  position: relative;
}

.section_top .block.central .right h5::after {
  content: '';
  margin-left: 30px;
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 50%;
  border-top: 2px solid #a2acb9;
}

.section_top .block.central .right li {
  margin-top: 20px;
}

.section_top .block.central .right li {
  margin-right: 25px;
}

.section_top .block.central .right li {
  float: left;
}
/* /second block */

/* third block */
.section_top {
  padding-bottom: 20px;
}

.section_top .block.bottom > * {
  width: calc((100% / 3) - 20px);
  padding: 15px 30px;
  background-color: white;
}

.section_top .block.bottom img {
  width: 40%;
  margin-bottom: 10px;
}

.section_top .block.bottom p {
  border-bottom: 2px solid #a2acb9;
  padding-bottom: 60px;
}

.section_top .block.bottom ul {
  margin-top: 20px;
  margin-bottom: 45px;
  text-align: left;
}

.section_top .block.bottom .central {
  margin: 0 30px;
}
/* third block */
/* /section top structure */

/* section central structure */
.section_central {
  background-image: linear-gradient(to top right, #00A5BC , #01BCA7);
  padding-top: 35px;
  padding-bottom: 70px;
}

.section_central .container {
  color: white;
  text-align: center;
}

.section_central .top h3 {
  width: 90%;
  margin: auto;
}

.section_central .row {
  width: 100%;
}

.section_central .row:first-child {
 border-bottom: 1px solid white;
}

.section_central .block {
  width: calc(100% / 4);
  border-right: 1px solid white;
  padding: 20px 0;
}

.section_central .block:last-child {
  border: none;
}

.section_central img {
  display: block;
  height: 25px;
  object-fit: cover;
  margin:auto;
}

.section_central .number {
  margin: 10px 0;
}

.section_central .number span {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  vertical-align: middle;
}

.section_central .number i {
  font-size: 8px;
}

/* /section central structure */

/* section bottom structure */
.section_bottom {
  padding-top: 40px;
}
.section_bottom .block.top {
  width: 100%;
  padding: 0 60px;
  margin-bottom: 20px;
}

.section_bottom .block.top .left {
  width: 20%;
}

.section_bottom p {
  margin-top: 15px;
}
.section_bottom .number {
  font-size: 30px;
  font-weight: bold;
}

.section_bottom .block.bottom {
  width: 100%;
  padding: 10px 0;
}

.section_bottom .block.top .right {
  width: 50%;
}

.section_bottom .block.top img {
  width: calc(25% - 10px);
  margin-left: 10px;
  margin-bottom: 10px;
  object-fit: contain;
  vertical-align: middle;
}

.section_bottom .block.bottom .left {
  width: 43%;
  padding-top: 30px;
}

.section_bottom .block.bottom .button {
  margin: 20px 0;
}

.section_bottom .block.bottom .right {
  width: 55%;
  text-align: right;
}

.section_bottom .block.bottom .right img {
  width: 50%;
  object-fit: cover;
}
/* /section bottom structure */
/* /main structure */

/* footer */
/* footer top structure */
.footer_top {
  width: 100%;
}

.footer_top .links {
  width: 25%;
  float: left;
  text-align: left;
}
/* /footer top structure */

/* /footer bottom structure */
.footer_bottom {
  width: 100%;
}

.footer_bottom ul.central {
  margin:auto;
  width: 50%;
}

.footer_bottom .central li {
  width: calc(100% / 5);
  float: left;
}

.footer_bottom .bottom {
  width: 100%;
}

.legal_links a {
  display: inline-block;
}


/* /footer */
