* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  height: 95%;
  width: 70%;
  margin: auto;
  border: 1px solid yellow;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  border: 1px solid black;
}
/* header top structure */
.header_top {
  width: 100%;
  border: 1px solid green;
  background-color: lightgrey;
}

.header_top .left {
  border: 1px solid red;
}

.linguages {
  border: 1px solid blue;
  display: inline-block;
}

.contact {
  border: 1px solid blue;
  display: inline-block;
}

.header_top .right {
  border: 1px solid red;
}

.header_top .search {
  display: inline-block;
}

.log_in {

}

.get_free {

}
/* /header top structure */

/* nav structure */
nav {
  width: 100%;
  border: 1px solid red;
}

nav .logo {
 width: 25%;
 border: 1px solid green;
}

nav .menù {
  border: 1px solid blue;
}

nav li {
  float: left;
}
/* /nav structure */

/* header bottom structure */
header > .bottom {
  height: 500px;
  width: 100%;
  border: 1px solid red;
}

.header_bottom .text {
  width: 40%;
  height: 180px;
  border: 1px solid black;
}
/* /header bottom structure */

/* main structure */

section {
  width: 100%;
  border: 1px solid blue;
}
/* section top structure */
.section_top .block {
  border: 1px solid red;
  width: 100%;
}

.block.central .left {
  width: 30%;
}

.block.central img {
  display: block;
}

.block.central .right {
  width: 70%;
}

.block.bottom > * {
  width: calc((100% / 3) - 20px);
}

.block.bottom .central {
  margin: 0 20px;
}

.section_central {
  border: 1px solid green;
}

.section_central .row {
  width: 100%;
}

.section_central .block {
  width: calc(100% / 4);
  border: 1px solid red;
}

.section.central img {
  display: block;
}
/* /section top structure */
